html{
    margin:20px;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
h1{
    text-align: center;
    background-color: black;
    color: white;
    padding:1rem;
    margin-top: 1rem;
}
.syk{
    margin-top: 0px;
    text-align: center;
    padding:2rem;
    background-color: lightgrey;
}
.projects{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:1rem;
    padding:2rem;
}
.box {
      border: 1px solid black;    
      padding: 2rem;              
      margin: 10px; 
      text-align: center;                              
      background-color:lightgrey; 
      color: black;
      border-radius:5rem;
    }

.copyright{
    text-align: center;
    background-color: black;
    color: white;
    padding:1rem;
    margin-top: 1rem;
}