body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
}

header {
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

.quiz {
    background-color: white;
    width: 500px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 5px;
}

.question {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px;
}
