body {
  background: #0f172a;
  color: white;
  font-family: Verdana;
  text-align: center;
}

.home, .quiz, .result {
  margin-top: 100px;
}

.start {
  padding: 12px 25px;
  background: #22c55e;
  color: black;
  text-decoration: none;
  border-radius: 6px;
}

.quiz button {
  display: block;
  margin: 15px auto;
  padding: 10px 30px;
  background: #38bdf8;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
